* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --background-default: #F5F4F0;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;
  
  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;

  font-family: "Open Sans", sans-serif;
  
  background-color: var(--background-default);
}

body {
  margin: 80px;
}
main {
  display: flex;
  margin: 88px;
  flex-direction: column; /* Organize os elementos verticalmente */
  gap: 40px; 
}
.headline {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-headline);
}
h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-primary);
}

div img {
  width: 100%;
  border-radius: 28px;
}
.img-description {
  text-align: center;
  color: tex;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--text-primary);
}
h3 {
  font-size: 28px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-secondary);
}

#intro-list {
  margin: 64px 0px;
}
#title-list {
  margin-bottom: 8px;
}
ul {
  color: var(--text-secondary);
  list-style: disc;
  font-weight: bold;
}
ul:only-child{
  color: var(--accent-blue);
}
ul li{
  color: var(--accent-purple);
}
ul:nth-child(2){
  color: var(--accent-pink);
}
ul:nth-child(3){
  color: var(--accent-orange);
}
ol {
  display: flex;
  flex-direction: column; /* Organize os elementos verticalmente */
  gap: 48px; 
}
ol::marker {
  color: var(--text-primary);
}
ol, ul {
  list-style-position: inside;
}
.content-card {
  display: flex;
  flex-direction: column; /* Organize os elementos verticalmente */
  gap: 4px; 
}
.good-for {
  font-weight: bold;
}

.divider {
  border-bottom: 1px solid var(--border-primary);
}
.subtitle {
  font-size: 16px;
  font-style: italic;
}
.creditos {
  color: var(--text-secondary);
  text-align: center;
  align-items: center;
}
.footer-description{
  text-align: center;
}
footer {
  width: 100%;
  line-height: 150%;
  text-align: center;
  word-break: break-all;
}
footer img {
  margin: 0 4px;
  vertical-align: middle;
}